extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li
            a(href="/") Heim
          li
            a(href="/umokkur") Um okkur
          li.active
            a(href="/hafasamband") Hafa samband


  div.jumbotron.text-center
    div.texti1= title
    p= "Hérna geturu haft samband við þessa snillinga"

  div.container
    div.well
      div.form
        .form-group
          form(action='/contact', name='contactus', id='contactus', method='post')
            fieldset
              p
                label(for='name') Name:
                br
                input(name='name', type='text', value='', id='name')
              p
                label(for='email') Email:
                br
                input(name='email', type='text', value='', id='email')
              p
                label(for='message') Message:
                br
                textarea(name='message', cols='40', rows='10', id='message')
              p
                input(name='submit', type='submit', value='Send', id='submit')
