extends layout

block content

  div(class="navbar navbar-inverse navbar-fixed-top")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tónleikar
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
          li.active
            a(href="/") Heim
          li
            a(href="/umokkur") Um okkur
          li
            a(href="http://www.mbl.is/frettir/") Hafðu samband

  div.jumbotron.text-center
    h1= title
    p= "Tónleika líf á Íslandi"


  for concert in concerts
      div.container
        div.well
          div.width
            h2= concert.eventDateName
          div.picture
            img(class="rounded float-xs-left", src=concert.imageSource)
