extends layout

block content
  div.jumbotron.text-center
    h1= title
    p= "Tónleika líf á Íslandi"



  for concert in concerts
      div.col-sm-4
        div.well
          h2= concert.eventDateName
