
body {
  padding: 0px;
  font: 14px "Bitter", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-family: 'Bitter', serif;
}

h2 {
  font-family: 'Bitter', serif;
  background-color: #66ff33;
  max-width: 600px;
}

div.texti1 {
  font-family: 'Bitter', serif;
  font-size: 6rem;
  font-weight: bolder;
}

div.texti2 {
  font-family: 'Bitter', serif;
  max-width: 600px;
  font-size: 3.5rem;
  font-weight: bold;
}

div.texti3 {
  font-family: 'Bitter', serif;
  font-size: 2.7rem;
}

div.jumbotron.text-center {
  margin-top: 40px;
  background-color: #ccddff;
}

div.well {
  background-color: #e6eeff;
  position: relative;
  min-height: 250px;
  /* padding-left: 45px; */
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

div.umokkur {

}
/*
div.picture {
  position: absolute;
  right: 45px;
  top: 30px;
  overflow: hidden;
}
*/

@media only screen and (max-width: 998px) {


  div.well {
    background-color: #e6eeff;
    position: relative;
    min-height: 450px;
    padding-left: 45px;
    display: block;
  }

  div.width {
    /*padding-top: 20px;*/
    margin-bottom: 20px;
    /*background-color: #ffccff;*/
  }
  /*
  div.picture {
    position: absolute;
    left: 45px;
    padding-top: 200px;
  }
  */
}

@media only screen and (max-width: 600px) {

}
