
body {
  padding: 0;
  font: 14px "Bitter", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-family: 'Bitter', serif;
}

p {
  font-family: 'Bitter', serif;
}

h2 {
  font-family: 'Bitter', serif;
  background-color: #6f3;
  max-width: 600px;
}

div.texti1 {
  font-family: 'Bitter', serif;
  font-size: 6rem;
  font-weight: bolder;
}

div.texti2 {
  font-family: 'Bitter', serif;
  max-width: 600px;
  font-size: 3.3rem;
  font-weight: bold;
}

div.texti3 {
  font-family: 'Bitter', serif;
  font-size: 2.5rem;
}

div.jumbotron.text-center {
  margin-top: 40px;
  background-color: #cdf;
}

div.well {
  background-color: #e6eeff;
  position: relative;
  min-height: 250px;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

div.umokkur-upl {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

div.umokkur-texti {
  padding-left: 30px;
}

div.logo {
display: flex;
align-items: center;
justify-content: space-around;;
}

div.container-folow {
  position: center;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.taki {
  padding-top: 40px;
}

@media only screen and (max-width: 998px) {
  div.well {
    background-color: #e6eeff;
    position: relative;
    min-height: 450px;
    padding-left: 45px;
    display: block;
  }

  div.width {
    margin-bottom: 20px;
  }

  div.umokkur {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  div.umokkur-upl {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  div.umokkur-texti {
    padding-left: 0;
    padding-top: 30px;
  }
}
